.caixa {
    border: solid 1px rgb(243, 234, 105);
    width: 15cm;
    height: 20cm;
    margin: auto;
    background-color: rgb(243, 234, 105);
    
  }
  
  body{
    background-color: rgba(0, 0, 0, 0.575);
  }
  
  header{
    border: solid 1px rgb(243, 234, 105);
    height: 4cm;
  
    
  }
  
   header img {
    height: 140px;
    width: 150px;
    padding: 10px 0px ;
  }
  
  #pdm{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-align: center;
    margin-top: -130px;
  }
  
  #nome{
    text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  margin-left: 140px;
  line-height: 10px;
    
  }
  
  #objetivo{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-left: 135px;
    line-height: 10px;
      
  }
  #data{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-left: -115px;

  }

  table{
    border: solid 1px black;
    width: 95%;
    margin-left: 2.5%;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
   
  }

#ex{
   padding-right: 115px;
}

  .exercicios td{
    padding-left: 80px;
    font-size: 12px;
  
   
    
  }

  #exb{
    border: solid red 1px;
    width: 5cm;
    height: 4cm;
  }

